google-cloud-discoveryengine
google-cloud-storage
google-cloud-firestore
google-cloud-documentai
vertexai
langchain-core
langchain-google-community
langchain-google-vertexai
langchain-community
langchain-google-community[docai]
streamlit
ipython
rich
markdown
google-api-core
google-cloud-aiplatform